In [38]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data/pollution.csv')
df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0

In [39]:
condition = (df['Station code'] == 108)
df = df[condition]
df.reset_index(drop = True, inplace = True)
df.to_csv('show.csv')

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.004,0.045,0.003,0.8,68.0,63.0
1,2017-01-01 01:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.004,0.045,0.003,0.9,71.0,62.0
2,2017-01-01 02:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.004,0.043,0.003,0.9,69.0,62.0
3,2017-01-01 03:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.004,0.039,0.003,0.7,70.0,63.0
4,2017-01-01 04:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.004,0.038,0.003,0.8,69.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...
25889,2019-12-31 19:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.002,0.022,0.015,0.5,22.0,9.0
25890,2019-12-31 20:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.002,0.021,0.015,0.5,22.0,12.0
25891,2019-12-31 21:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.002,0.023,0.012,0.5,20.0,9.0
25892,2019-12-31 22:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.002,0.027,0.007,0.5,21.0,8.0
25893,2019-12-31 23:00,108,"571, Gwangnaru-ro, Gwangjin-gu, Seoul, Republi...",37.54718,127.092493,0.002,0.030,0.004,0.5,23.0,11.0

In [40]:
df = df.drop(['Station code','Address'], axis=1)
df.head()

,Measurement date,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,37.54718,127.092493,0.004,0.045,0.003,0.8,68.0,63.0
1,2017-01-01 01:00,37.54718,127.092493,0.004,0.045,0.003,0.9,71.0,62.0
2,2017-01-01 02:00,37.54718,127.092493,0.004,0.043,0.003,0.9,69.0,62.0
3,2017-01-01 03:00,37.54718,127.092493,0.004,0.039,0.003,0.7,70.0,63.0
4,2017-01-01 04:00,37.54718,127.092493,0.004,0.038,0.003,0.8,69.0,59.0

In [41]:
weather_df = pd.concat(
    [
        pd.concat(
            [pd.read_csv('data/2017.csv'),pd.read_csv('data/2018.csv')],
            ignore_index = True
        ),
        pd.read_csv('data/2019.csv')
    ],
    ignore_index = True
)
weather_df.tail()

,Station code,Measurement date,precipitation,wind_direction,wind_spped,humidity,local pressure,ground_temperature
26268,108,2019-12-31 19:00,NaN,1.7,290.0,38.0,1024.1,-3.6
26269,108,2019-12-31 20:00,NaN,2.9,290.0,41.0,1024.1,-4.1
26270,108,2019-12-31 21:00,NaN,0.8,20.0,43.0,1023.9,-4.4
26271,108,2019-12-31 22:00,NaN,0.0,0.0,42.0,1023.3,-4.6
26272,108,2019-12-31 23:00,NaN,0.0,0.0,45.0,1022.9,-3.5