In [106]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data/pollution.csv')
df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0

In [107]:
condition = (df['Station code'] == 108)
df = df[condition]
df.reset_index(drop = True, inplace = True)

In [108]:
df = df.drop(['Station code','Address','Latitude','Longitude'], axis=1)
df["Measurement date"] = pd.to_datetime(df["Measurement date"])
df.head()

     Measurement date    SO2    NO2     O3   CO  PM10  PM2.5
0 2017-01-01 00:00:00  0.004  0.045  0.003  0.8  68.0   63.0
1 2017-01-01 01:00:00  0.004  0.045  0.003  0.9  71.0   62.0
2 2017-01-01 02:00:00  0.004  0.043  0.003  0.9  69.0   62.0
3 2017-01-01 03:00:00  0.004  0.039  0.003  0.7  70.0   63.0
4 2017-01-01 04:00:00  0.004  0.038  0.003  0.8  69.0   59.0

In [109]:
weather_df = pd.concat(
    [
        pd.concat(
            [pd.read_csv('data/2017.csv'),pd.read_csv('data/2018.csv')],
            ignore_index = True
        ),
        pd.read_csv('data/2019.csv')
    ],
    ignore_index = True
)
weather_df.tail()
weather_df = weather_df.drop(["Station code"],axis=1)
weather_df["Measurement date"] = pd.to_datetime(weather_df['Measurement date'])
weather_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26273 entries, 0 to 26272
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Measurement date    26273 non-null  datetime64[ns]
 1   precipitation       2546 non-null   float64
 2   wind_direction      26224 non-null  float64
 3   wind_spped          26224 non-null  float64
 4   humidity            26273 non-null  float64
 5   local pressure      26272 non-null  float64
 6   ground_temperature  26263 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.4 MB

In [110]:
df = pd.merge(df,weather_df, how='left', on = 'Measurement date')
df['precipitation'] = df['precipitation'].fillna(0)
df = df.fillna(method = "bfill")
df

,Measurement date,SO2,NO2,O3,CO,PM10,PM2.5,precipitation,wind_direction,wind_spped,humidity,local pressure,ground_temperature
0,2017-01-01 00:00:00,0.004,0.045,0.003,0.8,68.0,63.0,0.0,1.4,20.0,78.0,1018.9,-0.9
1,2017-01-01 01:00:00,0.004,0.045,0.003,0.9,71.0,62.0,0.0,1.4,20.0,78.0,1018.9,-0.9
2,2017-01-01 02:00:00,0.004,0.043,0.003,0.9,69.0,62.0,0.0,1.9,50.0,81.0,1018.5,-1.8
3,2017-01-01 03:00:00,0.004,0.039,0.003,0.7,70.0,63.0,0.0,2.0,50.0,84.0,1018.8,-2.1
4,2017-01-01 04:00:00,0.004,0.038,0.003,0.8,69.0,59.0,0.0,1.6,20.0,85.0,1018.6,-2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25889,2019-12-31 19:00:00,0.002,0.022,0.015,0.5,22.0,9.0,0.0,1.7,290.0,38.0,1024.1,-3.6
25890,2019-12-31 20:00:00,0.002,0.021,0.015,0.5,22.0,12.0,0.0,2.9,290.0,41.0,1024.1,-4.1
25891,2019-12-31 21:00:00,0.002,0.023,0.012,0.5,20.0,9.0,0.0,0.8,20.0,43.0,1023.9,-4.4
25892,2019-12-31 22:00:00,0.002,0.027,0.007,0.5,21.0,8.0,0.0,0.0,0.0,42.0,1023.3,-4.6
25893,2019-12-31 23:00:00,0.002,0.030,0.004,0.5,23.0,11.0,0.0,0.0,0.0,45.0,1022.9,-3.5

In [ ]:
df.groupby('wind_direction')